interactions:
- request:
    body: '{"domain": "TestDomain", "workflowType": {"name": "example", "version":
      "example"}}'
    headers:
      Authorization: ['AWS4-HMAC-SHA256 Credential=1234AB/20160823/us-east-1/swf/aws4_request,SignedHeaders=host;x-amz-date;x-amz-target,Signature=foobar']
      Content-Type: [application/json; charset=UTF-8]
      X-Amz-Date: [20171017T170435Z]
      X-Amz-Target: [com.amazonaws.swf.service.model.SimpleWorkflowService.DescribeWorkflowType]
    method: POST
    uri: https://swf.us-east-1.amazonaws.com/
  response:
    body: {string: '{"configuration":{"defaultChildPolicy":"TERMINATE","defaultExecutionStartToCloseTimeout":"300","defaultTaskList":{"name":"None"},"defaultTaskStartToCloseTimeout":"300"},"typeInfo":{"creationDate":1.487851963534E9,"status":"REGISTERED","workflowType":{"name":"example","version":"example"}}}'}
    headers:
      Content-Type: [application/json]
      x-amzn-RequestId: [4096bbd5-b35d-11e7-b0e0-91e9d57eedd0]
    status: {code: 200, message: OK}
- request:
    body: '{"domain": "TestDomain", "workflowId": "test-simpleflow-workflow", "workflowType":
      {"name": "example", "version": "example"}, "taskList": {"name": "test-simpleflow-workflow-dbf09ce6b1294b0d97a2833e2bd5e826"},
      "childPolicy": "TERMINATE", "input": "{\"args\":[],\"kwargs\":{}}"}'
    headers:
      Authorization: ['AWS4-HMAC-SHA256 Credential=1234AB/20160823/us-east-1/swf/aws4_request,SignedHeaders=host;x-amz-date;x-amz-target,Signature=foobar']
      Content-Type: [application/json; charset=UTF-8]
      X-Amz-Date: [20171017T170435Z]
      X-Amz-Target: [com.amazonaws.swf.service.model.SimpleWorkflowService.StartWorkflowExecution]
    method: POST
    uri: https://swf.us-east-1.amazonaws.com/
  response:
    body: {string: '{"runId":"22cKZW6UyxDODdERccrwyNun3cWbADtgXzxMZC/GESj90="}'}
    headers:
      Content-Type: [application/json]
      x-amzn-RequestId: [40ee02f3-b35d-11e7-8191-83e4b2e875b8]
    status: {code: 200, message: OK}
- request:
    body: '{"domain": "TestDomain", "execution": {"runId": "22cKZW6UyxDODdERccrwyNun3cWbADtgXzxMZC/GESj90=",
      "workflowId": "test-simpleflow-workflow"}}'
    headers:
      Authorization: ['AWS4-HMAC-SHA256 Credential=1234AB/20160823/us-east-1/swf/aws4_request,SignedHeaders=host;x-amz-date;x-amz-target,Signature=foobar']
      Content-Type: [application/json; charset=UTF-8]
      X-Amz-Date: [20171017T170438Z]
      X-Amz-Target: [com.amazonaws.swf.service.model.SimpleWorkflowService.DescribeWorkflowExecution]
    method: POST
    uri: https://swf.us-east-1.amazonaws.com/
  response:
    body: {string: '{"executionConfiguration":{"childPolicy":"TERMINATE","executionStartToCloseTimeout":"300","taskList":{"name":"test-simpleflow-workflow-dbf09ce6b1294b0d97a2833e2bd5e826"},"taskStartToCloseTimeout":"300"},"executionInfo":{"cancelRequested":false,"execution":{"runId":"22cKZW6UyxDODdERccrwyNun3cWbADtgXzxMZC/GESj90=","workflowId":"test-simpleflow-workflow"},"executionStatus":"OPEN","startTimestamp":1.508259876115E9,"workflowType":{"name":"example","version":"example"}},"latestActivityTaskTimestamp":1.508259876752E9,"latestExecutionContext":"{\"waiting_signals\":[\"signal
        2\",\"signal\"]}","openCounts":{"openActivityTasks":2,"openChildWorkflowExecutions":0,"openDecisionTasks":0,"openLambdaFunctions":0,"openTimers":0}}'}
    headers:
      Content-Type: [application/json]
      x-amzn-RequestId: [4275b511-b35d-11e7-9d76-c19e3b224830]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"domain": "TestDomain", "execution": {"runId": "22cKZW6UyxDODdERccrwyNun3cWbADtgXzxMZC/GESj90=",
      "workflowId": "test-simpleflow-workflow"}}'
    headers:
      Authorization: ['AWS4-HMAC-SHA256 Credential=1234AB/20160823/us-east-1/swf/aws4_request,SignedHeaders=host;x-amz-date;x-amz-target,Signature=foobar']
      Content-Type: [application/json; charset=UTF-8]
      X-Amz-Date: [20171017T170450Z]
      X-Amz-Target: [com.amazonaws.swf.service.model.SimpleWorkflowService.DescribeWorkflowExecution]
    method: POST
    uri: https://swf.us-east-1.amazonaws.com/
  response:
    body: {string: '{"executionConfiguration":{"childPolicy":"TERMINATE","executionStartToCloseTimeout":"300","taskList":{"name":"test-simpleflow-workflow-dbf09ce6b1294b0d97a2833e2bd5e826"},"taskStartToCloseTimeout":"300"},"executionInfo":{"cancelRequested":false,"closeStatus":"COMPLETED","closeTimestamp":1.508259889503E9,"execution":{"runId":"22cKZW6UyxDODdERccrwyNun3cWbADtgXzxMZC/GESj90=","workflowId":"test-simpleflow-workflow"},"executionStatus":"CLOSED","startTimestamp":1.508259876115E9,"workflowType":{"name":"example","version":"example"}},"latestActivityTaskTimestamp":1.50825988879E9,"latestExecutionContext":"","openCounts":{"openActivityTasks":0,"openChildWorkflowExecutions":0,"openDecisionTasks":0,"openLambdaFunctions":0,"openTimers":0}}'}
    headers:
      Content-Type: [application/json]
      x-amzn-RequestId: [4a14b16a-b35d-11e7-8d16-bdb34c172fee]
    status: {code: 200, message: OK}
- request:
    body: '{"domain": "TestDomain", "execution": {"runId": "22cKZW6UyxDODdERccrwyNun3cWbADtgXzxMZC/GESj90=",
      "workflowId": "test-simpleflow-workflow"}}'
    headers:
      Authorization: ['AWS4-HMAC-SHA256 Credential=1234AB/20160823/us-east-1/swf/aws4_request,SignedHeaders=host;x-amz-date;x-amz-target,Signature=foobar']
      Content-Type: [application/json; charset=UTF-8]
      X-Amz-Date: [20171017T170550Z]
      X-Amz-Target: [com.amazonaws.swf.service.model.SimpleWorkflowService.GetWorkflowExecutionHistory]
    method: POST
    uri: https://swf.us-east-1.amazonaws.com/
  response:
    body: {string: '{"events":[{"eventId":1,"eventTimestamp":1.508259876115E9,"eventType":"WorkflowExecutionStarted","workflowExecutionStartedEventAttributes":{"childPolicy":"TERMINATE","executionStartToCloseTimeout":"300","input":"{\"args\":[],\"kwargs\":{}}","parentInitiatedEventId":0,"taskList":{"name":"test-simpleflow-workflow-dbf09ce6b1294b0d97a2833e2bd5e826"},"taskStartToCloseTimeout":"300","workflowType":{"name":"example","version":"example"}}},{"decisionTaskScheduledEventAttributes":{"startToCloseTimeout":"300","taskList":{"name":"test-simpleflow-workflow-dbf09ce6b1294b0d97a2833e2bd5e826"}},"eventId":2,"eventTimestamp":1.508259876115E9,"eventType":"DecisionTaskScheduled"},{"decisionTaskStartedEventAttributes":{"identity":"{\"hostname\":\"zeb-Precision-T3610\",\"pid\":3885,\"user\":\"zeb\"}","scheduledEventId":2},"eventId":3,"eventTimestamp":1.508259876171E9,"eventType":"DecisionTaskStarted"},{"decisionTaskCompletedEventAttributes":{"executionContext":"{\"waiting_signals\":[\"signal
        2\",\"signal\"]}","scheduledEventId":2,"startedEventId":3},"eventId":4,"eventTimestamp":1.508259876699E9,"eventType":"DecisionTaskCompleted"},{"activityTaskScheduledEventAttributes":{"activityId":"activity-tests.integration.workflow.wait_and_signal-1","activityType":{"name":"tests.integration.workflow.wait_and_signal","version":"example"},"decisionTaskCompletedEventId":4,"heartbeatTimeout":"300","input":"{\"args\":[],\"kwargs\":{}}","scheduleToCloseTimeout":"300","scheduleToStartTimeout":"300","startToCloseTimeout":"300","taskList":{"name":"test-simpleflow-workflow-dbf09ce6b1294b0d97a2833e2bd5e826"}},"eventId":5,"eventTimestamp":1.508259876699E9,"eventType":"ActivityTaskScheduled"},{"activityTaskScheduledEventAttributes":{"activityId":"activity-tests.integration.workflow.wait_and_signal-2","activityType":{"name":"tests.integration.workflow.wait_and_signal","version":"example"},"decisionTaskCompletedEventId":4,"heartbeatTimeout":"300","input":"{\"args\":[\"signal
        2\"],\"kwargs\":{}}","scheduleToCloseTimeout":"300","scheduleToStartTimeout":"300","startToCloseTimeout":"300","taskList":{"name":"test-simpleflow-workflow-dbf09ce6b1294b0d97a2833e2bd5e826"}},"eventId":6,"eventTimestamp":1.508259876699E9,"eventType":"ActivityTaskScheduled"},{"activityTaskStartedEventAttributes":{"identity":"{\"hostname\":\"zeb-Precision-T3610\",\"pid\":3884,\"user\":\"zeb\"}","scheduledEventId":6},"eventId":7,"eventTimestamp":1.508259876738E9,"eventType":"ActivityTaskStarted"},{"activityTaskStartedEventAttributes":{"identity":"{\"hostname\":\"zeb-Precision-T3610\",\"pid\":3886,\"user\":\"zeb\"}","scheduledEventId":5},"eventId":8,"eventTimestamp":1.508259876752E9,"eventType":"ActivityTaskStarted"},{"eventId":9,"eventTimestamp":1.508259884874E9,"eventType":"WorkflowExecutionSignaled","workflowExecutionSignaledEventAttributes":{"externalInitiatedEventId":0,"signalName":"signal"}},{"decisionTaskScheduledEventAttributes":{"startToCloseTimeout":"300","taskList":{"name":"test-simpleflow-workflow-dbf09ce6b1294b0d97a2833e2bd5e826"}},"eventId":10,"eventTimestamp":1.508259884874E9,"eventType":"DecisionTaskScheduled"},{"decisionTaskStartedEventAttributes":{"identity":"{\"hostname\":\"zeb-Precision-T3610\",\"pid\":3887,\"user\":\"zeb\"}","scheduledEventId":10},"eventId":11,"eventTimestamp":1.508259884914E9,"eventType":"DecisionTaskStarted"},{"activityTaskCompletedEventAttributes":{"result":"null","scheduledEventId":5,"startedEventId":8},"eventId":12,"eventTimestamp":1.508259885445E9,"eventType":"ActivityTaskCompleted"},{"decisionTaskScheduledEventAttributes":{"startToCloseTimeout":"300","taskList":{"name":"test-simpleflow-workflow-dbf09ce6b1294b0d97a2833e2bd5e826"}},"eventId":13,"eventTimestamp":1.508259885445E9,"eventType":"DecisionTaskScheduled"},{"decisionTaskCompletedEventAttributes":{"executionContext":"{\"waiting_signals\":[\"signal
        2\"]}","scheduledEventId":10,"star[...]
