interactions:
- request:
    body: !!python/unicode '{"domain": "TestDomain", "workflowType": {"version": "example",
      "name": "basic"}}'
    headers:
      Authorization: ['AWS4-HMAC-SHA256 Credential=1234AB/20160823/us-east-1/swf/aws4_request,SignedHeaders=host;x-amz-date;x-amz-target,Signature=foobar']
      Content-Type: [application/json; charset=UTF-8]
      X-Amz-Date: [20160824T003114Z]
      X-Amz-Target: [com.amazonaws.swf.service.model.SimpleWorkflowService.DescribeWorkflowType]
    method: POST
    uri: https://swf.us-east-1.amazonaws.com/
  response:
    body: {string: !!python/unicode '{"configuration":{"defaultChildPolicy":"TERMINATE","defaultExecutionStartToCloseTimeout":"300","defaultTaskList":{"name":"None"},"defaultTaskStartToCloseTimeout":"300"},"typeInfo":{"creationDate":1.435159034741E9,"status":"REGISTERED","workflowType":{"name":"basic","version":"example"}}}'}
    headers:
      content-type: [application/json]
      x-amzn-requestid: [10eb0cba-6992-11e6-a4f9-8defff707f7a]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"domain": "TestDomain", "taskList": {"name": "test"},
      "childPolicy": "TERMINATE", "executionStartToCloseTimeout": "300", "input":
      "null", "workflowType": {"version": "example", "name": "basic"}, "taskStartToCloseTimeout":
      "30", "workflowId": "test-simpleflow-workflow"}'
    headers:
      Authorization: ['AWS4-HMAC-SHA256 Credential=1234AB/20160823/us-east-1/swf/aws4_request,SignedHeaders=host;x-amz-date;x-amz-target,Signature=foobar']
      Content-Type: [application/json; charset=UTF-8]
      X-Amz-Date: [20160824T003115Z]
      X-Amz-Target: [com.amazonaws.swf.service.model.SimpleWorkflowService.StartWorkflowExecution]
    method: POST
    uri: https://swf.us-east-1.amazonaws.com/
  response:
    body: {string: !!python/unicode '{"runId":"22Pij42qQYS4zptpD4JBqrvr24zGnPxT9rTOkGXVcZVhA="}'}
    headers:
      content-type: [application/json]
      x-amzn-requestid: [112a384d-6992-11e6-9939-277c426610ce]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"domain": "TestDomain", "startTimeFilter": {"oldestDate":
      0}, "executionFilter": {"workflowId": "test-simpleflow-workflow"}}'
    headers:
      Authorization: ['AWS4-HMAC-SHA256 Credential=1234AB/20160823/us-east-1/swf/aws4_request,SignedHeaders=host;x-amz-date;x-amz-target,Signature=foobar']
      Content-Type: [application/json; charset=UTF-8]
      X-Amz-Date: [20160824T003115Z]
      X-Amz-Target: [com.amazonaws.swf.service.model.SimpleWorkflowService.ListOpenWorkflowExecutions]
    method: POST
    uri: https://swf.us-east-1.amazonaws.com/
  response:
    body: {string: !!python/unicode '{"executionInfos":[{"cancelRequested":false,"execution":{"runId":"22Pij42qQYS4zptpD4JBqrvr24zGnPxT9rTOkGXVcZVhA=","workflowId":"test-simpleflow-workflow"},"executionStatus":"OPEN","startTimestamp":1.471998675578E9,"workflowType":{"name":"basic","version":"example"}}]}'}
    headers:
      content-type: [application/json]
      x-amzn-requestid: [11760eaf-6992-11e6-8ff3-49d50afed315]
    status: {code: 200, message: OK}
[...]
