interactions:
- request:
    body: !!python/unicode '{"domain": "TestDomain", "workflowType": {"version": "example",
      "name": "example"}}'
    headers:
      Authorization: ['AWS4-HMAC-SHA256 Credential=1234AB/20160823/us-east-1/swf/aws4_request,SignedHeaders=host;x-amz-date;x-amz-target,Signature=foobar']
      Content-Type: [application/json; charset=UTF-8]
      X-Amz-Date: [20170915T115810Z]
      X-Amz-Target: [com.amazonaws.swf.service.model.SimpleWorkflowService.DescribeWorkflowType]
    method: POST
    uri: https://swf.us-east-1.amazonaws.com/
  response:
    body: {string: !!python/unicode '{"configuration":{"defaultChildPolicy":"TERMINATE","defaultExecutionStartToCloseTimeout":"300","defaultTaskList":{"name":"None"},"defaultTaskStartToCloseTimeout":"300"},"typeInfo":{"creationDate":1.487851963534E9,"status":"REGISTERED","workflowType":{"name":"example","version":"example"}}}'}
    headers:
      content-type: [application/json]
      x-amzn-requestid: [252b0d3e-9a0d-11e7-addd-51f64cfd881e]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"domain": "TestDomain", "taskList": {"name": "test-simpleflow-workflow-3e073aa90ab045a8b8f30b47cf80ebed"},
      "childPolicy": "TERMINATE", "input": "{\"args\":[],\"kwargs\":{}}", "workflowType":
      {"version": "example", "name": "example"}, "workflowId": "test-simpleflow-workflow"}'
    headers:
      Authorization: ['AWS4-HMAC-SHA256 Credential=1234AB/20160823/us-east-1/swf/aws4_request,SignedHeaders=host;x-amz-date;x-amz-target,Signature=foobar']
      Content-Type: [application/json; charset=UTF-8]
      X-Amz-Date: [20170915T115810Z]
      X-Amz-Target: [com.amazonaws.swf.service.model.SimpleWorkflowService.StartWorkflowExecution]
    method: POST
    uri: https://swf.us-east-1.amazonaws.com/
  response:
    body: {string: !!python/unicode '{"runId":"22nMM9bZK6rtxtBa8qLU0AsL+gS0vBxD6fcszT4E2wMMM="}'}
    headers:
      content-type: [application/json]
      x-amzn-requestid: [25630ce0-9a0d-11e7-a5ae-85eb7011d27b]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"domain": "TestDomain", "execution": {"workflowId": "test-simpleflow-workflow",
      "runId": "22nMM9bZK6rtxtBa8qLU0AsL+gS0vBxD6fcszT4E2wMMM="}}'
    headers:
      Authorization: ['AWS4-HMAC-SHA256 Credential=1234AB/20160823/us-east-1/swf/aws4_request,SignedHeaders=host;x-amz-date;x-amz-target,Signature=foobar']
      Content-Type: [application/json; charset=UTF-8]
      X-Amz-Date: [20170915T115813Z]
      X-Amz-Target: [com.amazonaws.swf.service.model.SimpleWorkflowService.DescribeWorkflowExecution]
    method: POST
    uri: https://swf.us-east-1.amazonaws.com/
  response:
    body: {string: !!python/unicode '{"executionConfiguration":{"childPolicy":"TERMINATE","executionStartToCloseTimeout":"300","taskList":{"name":"test-simpleflow-workflow-3e073aa90ab045a8b8f30b47cf80ebed"},"taskStartToCloseTimeout":"300"},"executionInfo":{"cancelRequested":false,"execution":{"runId":"22nMM9bZK6rtxtBa8qLU0AsL+gS0vBxD6fcszT4E2wMMM=","workflowId":"test-simpleflow-workflow"},"executionStatus":"OPEN","startTimestamp":1.5054766911E9,"workflowType":{"name":"example","version":"example"}},"latestActivityTaskTimestamp":1.505476691633E9,"latestExecutionContext":"{\"waiting_signals\":[\"signal\",\"signal
        2\"]}","openCounts":{"openActivityTasks":2,"openChildWorkflowExecutions":0,"openDecisionTasks":0,"openLambdaFunctions":0,"openTimers":0}}'}
    headers:
      content-type: [application/json]
      x-amzn-requestid: [26dd9f39-9a0d-11e7-a67f-cdb83222ef4f]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"domain": "TestDomain", "execution": {"workflowId": "test-simpleflow-workflow",
      "runId": "22nMM9bZK6rtxtBa8qLU0AsL+gS0vBxD6fcszT4E2wMMM="}}'
    headers:
      Authorization: ['AWS4-HMAC-SHA256 Credential=1234AB/20160823/us-east-1/swf/aws4_request,SignedHeaders=host;x-amz-date;x-amz-target,Signature=foobar']
      Content-Type: [application/json; charset=UTF-8]
      X-Amz-Date: [20170915T115825Z]
      X-Amz-Target: [com.amazonaws.swf.service.model.SimpleWorkflowService.DescribeWorkflowExecution]
    method: POST
    uri: https://swf.us-east-1.amazonaws.com/
  response:
    body: {string: !!python/unicode '{"executionConfiguration":{"childPolicy":"TERMINATE","executionStartToCloseTimeout":"300","taskList":{"name":"test-simpleflow-workflow-3e073aa90ab045a8b8f30b47cf80ebed"},"taskStartToCloseTimeout":"300"},"executionInfo":{"cancelRequested":false,"closeStatus":"COMPLETED","closeTimestamp":1.505476704722E9,"execution":{"runId":"22nMM9bZK6rtxtBa8qLU0AsL+gS0vBxD6fcszT4E2wMMM=","workflowId":"test-simpleflow-workflow"},"executionStatus":"CLOSED","startTimestamp":1.5054766911E9,"workflowType":{"name":"example","version":"example"}},"latestActivityTaskTimestamp":1.50547670423E9,"latestExecutionContext":"{\"waiting_signals\":[\"signal
        2\"]}","openCounts":{"openActivityTasks":0,"openChildWorkflowExecutions":0,"openDecisionTasks":0,"openLambdaFunctions":0,"openTimers":0}}'}
    headers:
      content-type: [application/json]
      x-amzn-requestid: [2e02d7c7-9a0d-11e7-88ce-7d27f7fe836d]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"domain": "TestDomain", "execution": {"workflowId": "test-simpleflow-workflow",
      "runId": "22nMM9bZK6rtxtBa8qLU0AsL+gS0vBxD6fcszT4E2wMMM="}}'
    headers:
      Authorization: ['AWS4-HMAC-SHA256 Credential=1234AB/20160823/us-east-1/swf/aws4_request,SignedHeaders=host;x-amz-date;x-amz-target,Signature=foobar']
      Content-Type: [application/json; charset=UTF-8]
      X-Amz-Date: [20170915T120026Z]
      X-Amz-Target: [com.amazonaws.swf.service.model.SimpleWorkflowService.GetWorkflowExecutionHistory]
    method: POST
    uri: https://swf.us-east-1.amazonaws.com/
  response:
    body: {string: !!python/unicode '{"events":[{"eventId":1,"eventTimestamp":1.5054766911E9,"eventType":"WorkflowExecutionStarted","workflowExecutionStartedEventAttributes":{"childPolicy":"TERMINATE","executionStartToCloseTimeout":"300","input":"{\"args\":[],\"kwargs\":{}}","parentInitiatedEventId":0,"taskList":{"name":"test-simpleflow-workflow-3e073aa90ab045a8b8f30b47cf80ebed"},"taskStartToCloseTimeout":"300","workflowType":{"name":"example","version":"example"}}},{"decisionTaskScheduledEventAttributes":{"startToCloseTimeout":"300","taskList":{"name":"test-simpleflow-workflow-3e073aa90ab045a8b8f30b47cf80ebed"}},"eventId":2,"eventTimestamp":1.5054766911E9,"eventType":"DecisionTaskScheduled"},{"decisionTaskStartedEventAttributes":{"identity":"{\"hostname\":\"zeb-Precision-T3610\",\"pid\":25360,\"user\":\"zeb\"}","scheduledEventId":2},"eventId":3,"eventTimestamp":1.505476691163E9,"eventType":"DecisionTaskStarted"},{"decisionTaskCompletedEventAttributes":{"executionContext":"{\"waiting_signals\":[\"signal\",\"signal
        2\"]}","scheduledEventId":2,"startedEventId":3},"eventId":4,"eventTimestamp":1.505476691554E9,"eventType":"DecisionTaskCompleted"},{"activityTaskScheduledEventAttributes":{"activityId":"activity-tests.integration.workflow.wait_and_signal-1","activityType":{"name":"tests.integration.workflow.wait_and_signal","version":"example"},"decisionTaskCompletedEventId":4,"heartbeatTimeout":"300","input":"{\"args\":[],\"kwargs\":{}}","scheduleToCloseTimeout":"300","scheduleToStartTimeout":"300","startToCloseTimeout":"300","taskList":{"name":"test-simpleflow-workflow-3e073aa90ab045a8b8f30b47cf80ebed"}},"eventId":5,"eventTimestamp":1.505476691554E9,"eventType":"ActivityTaskScheduled"},{"activityTaskScheduledEventAttributes":{"activityId":"activity-tests.integration.workflow.wait_and_signal-2","activityType":{"name":"tests.integration.workflow.wait_and_signal","version":"example"},"decisionTaskCompletedEventId":4,"heartbeatTimeout":"300","input":"{\"args\":[\"signal
        2\"],\"kwargs\":{}}","scheduleToCloseTimeout":"300","scheduleToStartTimeout":"300","startToCloseTimeout":"300","taskList":{"name":"test-simpleflow-workflow-3e073aa90ab045a8b8f30b47cf80ebed"}},"eventId":6,"eventTimestamp":1.505476691554E9,"eventType":"ActivityTaskScheduled"},{"activityTaskStartedEventAttributes":{"identity":"{\"hostname\":\"zeb-Precision-T3610\",\"pid\":25361,\"user\":\"zeb\"}","scheduledEventId":6},"eventId":7,"eventTimestamp":1.505476691605E9,"eventType":"ActivityTaskStarted"},{"activityTaskStartedEventAttributes":{"identity":"{\"hostname\":\"zeb-Precision-T3610\",\"pid\":25363,\"user\":\"zeb\"}","scheduledEventId":5},"eventId":8,"eventTimestamp":1.505476691633E9,"eventType":"ActivityTaskStarted"},{"eventId":9,"eventTimestamp":1.505476699448E9,"eventType":"WorkflowExecutionSignaled","workflowExecutionSignaledEventAttributes":{"externalInitiatedEventId":0,"signalName":"signal"}},{"decisionTaskScheduledEventAttributes":{"startToCloseTimeout":"300","taskList":{"name":"test-simpleflow-workflow-3e073aa90ab045a8b8f30b47cf80ebed"}},"eventId":10,"eventTimestamp":1.505476699448E9,"eventType":"DecisionTaskScheduled"},{"decisionTaskStartedEventAttributes":{"identity":"{\"hostname\":\"zeb-Precision-T3610\",\"pid\":25362,\"user\":\"zeb\"}","scheduledEventId":10},"eventId":11,"eventTimestamp":1.50547669949E9,"eventType":"DecisionTaskStarted"},{"activityTaskCompletedEventAttributes":{"result":"null","scheduledEventId":5,"startedEventId":8},"eventId":12,"eventTimestamp":1.505476699842E9,"eventType":"ActivityTaskCompleted"},{"decisionTaskScheduledEventAttributes":{"startToCloseTimeout":"300","taskList":{"name":"test-simpleflow-workflow-3e073aa90ab045a8b8f30b47cf80ebed"}},"eventId":13,"eventTimestamp":1.505476699842E9,"eventType":"DecisionTaskScheduled"},{"decisionTaskCompletedEventAttributes":{"executionContext":"{\"waiting_signals\":[\"signal
        2\"]}","scheduledEventId":10,"star[...]
