interactions:
- request:
    body: '{"domain": "TestDomain", "workflowType": {"name": "example", "version":
      "example"}}'
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=1234AB/20160823/us-east-1/swf/aws4_request,SignedHeaders=host;x-amz-date;x-amz-target,Signature=foobar
      Content-Type:
      - application/json; charset=UTF-8
      X-Amz-Date:
      - 20230721T134403Z
      X-Amz-Target:
      - com.amazonaws.swf.service.model.SimpleWorkflowService.DescribeWorkflowType
    method: POST
    uri: https://swf.us-east-1.amazonaws.com/
  response:
    body:
      string: '{"configuration":{"defaultChildPolicy":"TERMINATE","defaultExecutionStartToCloseTimeout":"300","defaultTaskList":{"name":"None"},"defaultTaskStartToCloseTimeout":"300"},"typeInfo":{"creationDate":1.487851963534E9,"status":"REGISTERED","workflowType":{"name":"example","version":"example"}}}'
    headers:
      Content-Type:
      - application/json
      x-amzn-RequestId:
      - 4c8cb85c-1d60-4a15-8d11-86d36eb10f7a
    status:
      code: 200
      message: OK
- request:
    body: '{"domain": "TestDomain", "workflowId": "test-simpleflow-workflow", "workflowType":
      {"name": "example", "version": "example"}, "taskList": {"name": "test-simpleflow-workflow-d1064cf147ba4d58a67c09cbd30f6c74"},
      "childPolicy": "TERMINATE", "input": "{\"__extra\":{\"class\":\"tests.integration.workflow.WorkflowWithTooBigInputInChild\"},\"args\":[],\"kwargs\":{}}"}'
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=1234AB/20160823/us-east-1/swf/aws4_request,SignedHeaders=host;x-amz-date;x-amz-target,Signature=foobar
      Content-Type:
      - application/json; charset=UTF-8
      X-Amz-Date:
      - 20230721T134403Z
      X-Amz-Target:
      - com.amazonaws.swf.service.model.SimpleWorkflowService.StartWorkflowExecution
    method: POST
    uri: https://swf.us-east-1.amazonaws.com/
  response:
    body:
      string: '{"runId":"22eliwIoMSGBgh0SxoDRRx2c+yEAHJlfxKhNlxWCWMkXI="}'
    headers:
      Content-Type:
      - application/json
      x-amzn-RequestId:
      - 56231713-7e11-4fec-89a1-25f2a3dd29f6
    status:
      code: 200
      message: OK
- request:
    body: '{"domain": "TestDomain", "execution": {"runId": "22eliwIoMSGBgh0SxoDRRx2c+yEAHJlfxKhNlxWCWMkXI=",
      "workflowId": "test-simpleflow-workflow"}}'
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=1234AB/20160823/us-east-1/swf/aws4_request,SignedHeaders=host;x-amz-date;x-amz-target,Signature=foobar
      Content-Type:
      - application/json; charset=UTF-8
      X-Amz-Date:
      - 20230721T134406Z
      X-Amz-Target:
      - com.amazonaws.swf.service.model.SimpleWorkflowService.DescribeWorkflowExecution
    method: POST
    uri: https://swf.us-east-1.amazonaws.com/
  response:
    body:
      string: '{"executionConfiguration":{"childPolicy":"TERMINATE","executionStartToCloseTimeout":"300","taskList":{"name":"test-simpleflow-workflow-d1064cf147ba4d58a67c09cbd30f6c74"},"taskStartToCloseTimeout":"300"},"executionInfo":{"cancelRequested":false,"closeStatus":"FAILED","closeTimestamp":1.689947044749E9,"execution":{"runId":"22eliwIoMSGBgh0SxoDRRx2c+yEAHJlfxKhNlxWCWMkXI=","workflowId":"test-simpleflow-workflow"},"executionStatus":"CLOSED","reopenGenerationId":0,"reopenable":false,"startTimestamp":1.689947044068E9,"workflowType":{"name":"example","version":"example"}},"openCounts":{"openActivityTasks":0,"openChildWorkflowExecutions":0,"openDecisionTasks":0,"openLambdaFunctions":0,"openTimers":0}}'
    headers:
      Content-Type:
      - application/json
      x-amzn-RequestId:
      - ad4ec7fb-a5d0-4bdf-8c82-ca0dc0d24791
    status:
      code: 200
      message: OK
- request:
    body: '{"domain": "TestDomain", "execution": {"runId": "22eliwIoMSGBgh0SxoDRRx2c+yEAHJlfxKhNlxWCWMkXI=",
      "workflowId": "test-simpleflow-workflow"}}'
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=1234AB/20160823/us-east-1/swf/aws4_request,SignedHeaders=host;x-amz-date;x-amz-target,Signature=foobar
      Content-Type:
      - application/json; charset=UTF-8
      X-Amz-Date:
      - 20230721T134605Z
      X-Amz-Target:
      - com.amazonaws.swf.service.model.SimpleWorkflowService.GetWorkflowExecutionHistory
    method: POST
    uri: https://swf.us-east-1.amazonaws.com/
  response:
    body:
      string: '{"events":[{"eventId":1,"eventTimestamp":1.689947044068E9,"eventType":"WorkflowExecutionStarted","workflowExecutionStartedEventAttributes":{"childPolicy":"TERMINATE","executionStartToCloseTimeout":"300","input":"{\"__extra\":{\"class\":\"tests.integration.workflow.WorkflowWithTooBigInputInChild\"},\"args\":[],\"kwargs\":{}}","parentInitiatedEventId":0,"taskList":{"name":"test-simpleflow-workflow-d1064cf147ba4d58a67c09cbd30f6c74"},"taskStartToCloseTimeout":"300","workflowType":{"name":"example","version":"example"}}},{"decisionTaskScheduledEventAttributes":{"scheduleToStartTimeout":"NONE","startToCloseTimeout":"300","taskList":{"name":"test-simpleflow-workflow-d1064cf147ba4d58a67c09cbd30f6c74"}},"eventId":2,"eventTimestamp":1.689947044068E9,"eventType":"DecisionTaskScheduled"},{"decisionTaskStartedEventAttributes":{"identity":"{\"exe\":\"/opt/homebrew/Cellar/python@3.10/3.10.12_1/Frameworks/Python.framework/Versions/3.10/Resources/Python.app/Contents/MacOS/Python\",\"hostname\":\"MacBook-Air--moi.local\",\"pid\":83162,\"user\":\"zeb\"}","scheduledEventId":2},"eventId":3,"eventTimestamp":1.689947044092E9,"eventType":"DecisionTaskStarted"},{"decisionTaskCompletedEventAttributes":{"scheduledEventId":2,"startedEventId":3},"eventId":4,"eventTimestamp":1.689947044749E9,"eventType":"DecisionTaskCompleted"},{"eventId":5,"eventTimestamp":1.689947044749E9,"eventType":"WorkflowExecutionFailed","workflowExecutionFailedEventAttributes":{"decisionTaskCompletedEventId":4,"details":"Traceback:\nTraceback
        (most recent call last):\n  File \"/Users/zeb/src/botify/simpleflow/simpleflow/swf/executor.py\",
        line 957, in replay\n    result = self.run_workflow(*args, **kwargs)\n  File
        \"/Users/zeb/src/botify/simpleflow/simpleflow/executor.py\", line 70, in run_workflow\n    result
        = self._workflow.run(*args, **kwargs)\n  File \"/Users/zeb/src/botify/simpleflow/tests/integration/workflow.py\",
        line 331, in run\n    fut = self.submit(chain)\n  [...]
