interactions:
- request:
    body: !!python/unicode '{"domain": "TestDomain", "workflowType": {"version": "example",
      "name": "basic"}}'
    headers:
      Authorization: ['AWS4-HMAC-SHA256 Credential=1234AB/20160823/us-east-1/swf/aws4_request,SignedHeaders=host;x-amz-date;x-amz-target,Signature=foobar']
      Content-Type: [application/json; charset=UTF-8]
      X-Amz-Date: [20170302T173858Z]
      X-Amz-Target: [com.amazonaws.swf.service.model.SimpleWorkflowService.DescribeWorkflowType]
    method: POST
    uri: https://swf.us-east-1.amazonaws.com/
  response:
    body: {string: !!python/unicode '{"configuration":{"defaultChildPolicy":"TERMINATE","defaultExecutionStartToCloseTimeout":"300","defaultTaskList":{"name":"None"},"defaultTaskStartToCloseTimeout":"300"},"typeInfo":{"creationDate":1.435159034741E9,"status":"REGISTERED","workflowType":{"name":"basic","version":"example"}}}'}
    headers:
      content-type: [application/json]
      x-amzn-requestid: [1e15da10-ff6f-11e6-8e40-97845affe6f0]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"domain": "TestDomain", "taskList": {"name": "test-simpleflow-workflow-03ff0cc6fd7040d2a446ad23270ddacb"},
      "childPolicy": "TERMINATE", "input": "{\"args\":[false]}", "workflowType": {"version":
      "example", "name": "basic"}, "workflowId": "test-simpleflow-workflow"}'
    headers:
      Authorization: ['AWS4-HMAC-SHA256 Credential=1234AB/20160823/us-east-1/swf/aws4_request,SignedHeaders=host;x-amz-date;x-amz-target,Signature=foobar']
      Content-Type: [application/json; charset=UTF-8]
      X-Amz-Date: [20170302T173859Z]
      X-Amz-Target: [com.amazonaws.swf.service.model.SimpleWorkflowService.StartWorkflowExecution]
    method: POST
    uri: https://swf.us-east-1.amazonaws.com/
  response:
    body: {string: !!python/unicode '{"runId":"22zCvwbdKALrdtW7maAJ5RlqtzPHlzSKrF2GtnEt2ZcPk="}'}
    headers:
      content-type: [application/json]
      x-amzn-requestid: [1e537f5c-ff6f-11e6-82a1-8536ef9790ab]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"domain": "TestDomain", "execution": {"workflowId": "test-simpleflow-workflow",
      "runId": "22zCvwbdKALrdtW7maAJ5RlqtzPHlzSKrF2GtnEt2ZcPk="}}'
    headers:
      Authorization: ['AWS4-HMAC-SHA256 Credential=1234AB/20160823/us-east-1/swf/aws4_request,SignedHeaders=host;x-amz-date;x-amz-target,Signature=foobar']
      Content-Type: [application/json; charset=UTF-8]
      X-Amz-Date: [20170302T173901Z]
      X-Amz-Target: [com.amazonaws.swf.service.model.SimpleWorkflowService.DescribeWorkflowExecution]
    method: POST
    uri: https://swf.us-east-1.amazonaws.com/
  response:
    body: {string: !!python/unicode '{"executionConfiguration":{"childPolicy":"TERMINATE","executionStartToCloseTimeout":"300","taskList":{"name":"test-simpleflow-workflow-03ff0cc6fd7040d2a446ad23270ddacb"},"taskStartToCloseTimeout":"300"},"executionInfo":{"cancelRequested":false,"execution":{"runId":"22zCvwbdKALrdtW7maAJ5RlqtzPHlzSKrF2GtnEt2ZcPk=","workflowId":"test-simpleflow-workflow"},"executionStatus":"OPEN","startTimestamp":1.488476339688E9,"workflowType":{"name":"basic","version":"example"}},"openCounts":{"openActivityTasks":0,"openChildWorkflowExecutions":0,"openDecisionTasks":1,"openLambdaFunctions":0,"openTimers":0}}'}
    headers:
      content-type: [application/json]
      x-amzn-requestid: [1fc62205-ff6f-11e6-980b-cd693c7fefbe]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"domain": "TestDomain", "execution": {"workflowId": "test-simpleflow-workflow",
      "runId": "22zCvwbdKALrdtW7maAJ5RlqtzPHlzSKrF2GtnEt2ZcPk="}}'
    headers:
      Authorization: ['AWS4-HMAC-SHA256 Credential=1234AB/20160823/us-east-1/swf/aws4_request,SignedHeaders=host;x-amz-date;x-amz-target,Signature=foobar']
      Content-Type: [application/json; charset=UTF-8]
      X-Amz-Date: [20170302T173904Z]
      X-Amz-Target: [com.amazonaws.swf.service.model.SimpleWorkflowService.DescribeWorkflowExecution]
    method: POST
    uri: https://swf.us-east-1.amazonaws.com/
  response:
    body: {string: !!python/unicode '{"executionConfiguration":{"childPolicy":"TERMINATE","executionStartToCloseTimeout":"300","taskList":{"name":"test-simpleflow-workflow-03ff0cc6fd7040d2a446ad23270ddacb"},"taskStartToCloseTimeout":"300"},"executionInfo":{"cancelRequested":false,"closeStatus":"COMPLETED","closeTimestamp":1.488476342708E9,"execution":{"runId":"22zCvwbdKALrdtW7maAJ5RlqtzPHlzSKrF2GtnEt2ZcPk=","workflowId":"test-simpleflow-workflow"},"executionStatus":"CLOSED","startTimestamp":1.488476339688E9,"workflowType":{"name":"basic","version":"example"}},"openCounts":{"openActivityTasks":0,"openChildWorkflowExecutions":0,"openDecisionTasks":0,"openLambdaFunctions":0,"openTimers":0}}'}
    headers:
      content-type: [application/json]
      x-amzn-requestid: [21356962-ff6f-11e6-a413-4ff367a4d482]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"domain": "TestDomain", "execution": {"workflowId": "test-simpleflow-workflow",
      "runId": "22zCvwbdKALrdtW7maAJ5RlqtzPHlzSKrF2GtnEt2ZcPk="}}'
    headers:
      Authorization: ['AWS4-HMAC-SHA256 Credential=1234AB/20160823/us-east-1/swf/aws4_request,SignedHeaders=host;x-amz-date;x-amz-target,Signature=foobar']
      Content-Type: [application/json; charset=UTF-8]
      X-Amz-Date: [20170302T174003Z]
      X-Amz-Target: [com.amazonaws.swf.service.model.SimpleWorkflowService.GetWorkflowExecutionHistory]
    method: POST
    uri: https://swf.us-east-1.amazonaws.com/
  response:
    body: {string: !!python/unicode '{"events":[{"eventId":1,"eventTimestamp":1.488476339688E9,"eventType":"WorkflowExecutionStarted","workflowExecutionStartedEventAttributes":{"childPolicy":"TERMINATE","executionStartToCloseTimeout":"300","input":"{\"args\":[false]}","parentInitiatedEventId":0,"taskList":{"name":"test-simpleflow-workflow-03ff0cc6fd7040d2a446ad23270ddacb"},"taskStartToCloseTimeout":"300","workflowType":{"name":"basic","version":"example"}}},{"decisionTaskScheduledEventAttributes":{"startToCloseTimeout":"300","taskList":{"name":"test-simpleflow-workflow-03ff0cc6fd7040d2a446ad23270ddacb"}},"eventId":2,"eventTimestamp":1.488476339688E9,"eventType":"DecisionTaskScheduled"},{"decisionTaskStartedEventAttributes":{"identity":"{\"hostname\":\"zeb-Precision-T3610\",\"pid\":27931,\"user\":\"zeb\"}","scheduledEventId":2},"eventId":3,"eventTimestamp":1.488476339758E9,"eventType":"DecisionTaskStarted"},{"decisionTaskCompletedEventAttributes":{"scheduledEventId":2,"startedEventId":3},"eventId":4,"eventTimestamp":1.488476340233E9,"eventType":"DecisionTaskCompleted"},{"eventId":5,"eventTimestamp":1.488476340233E9,"eventType":"SignalExternalWorkflowExecutionInitiated","signalExternalWorkflowExecutionInitiatedEventAttributes":{"decisionTaskCompletedEventId":4,"input":"{\"__workflow_id\":\"test-simpleflow-workflow\",\"args\":[1],\"__run_id\":\"22zCvwbdKALrdtW7maAJ5RlqtzPHlzSKrF2GtnEt2ZcPk=\",\"kwargs\":{}}","runId":"22zCvwbdKALrdtW7maAJ5RlqtzPHlzSKrF2GtnEt2ZcPk=","signalName":"signal","workflowId":"test-simpleflow-workflow"}},{"eventId":6,"eventTimestamp":1.488476340233E9,"eventType":"SignalExternalWorkflowExecutionInitiated","signalExternalWorkflowExecutionInitiatedEventAttributes":{"decisionTaskCompletedEventId":4,"input":"{\"__workflow_id\":\"test-simpleflow-workflow\",\"args\":[2],\"__run_id\":\"22zCvwbdKALrdtW7maAJ5RlqtzPHlzSKrF2GtnEt2ZcPk=\",\"kwargs\":{}}","runId":"22zCvwbdKALrdtW7maAJ5RlqtzPHlzSKrF2GtnEt2ZcPk=","signalName":"signal","workflowId":"test-simpleflow-workflow"}},{"eventId":7,"eventTimestamp":1.488476340233E9,"eventType":"MarkerRecorded","markerRecordedEventAttributes":{"decisionTaskCompletedEventId":4,"markerName":"marker
        1"}},{"eventId":8,"eventTimestamp":1.488476340233E9,"eventType":"TimerStarted","timerStartedEventAttributes":{"decisionTaskCompletedEventId":4,"startToFireTimeout":"0","timerId":"_simpleflow_wake_up_timer"}},{"eventId":9,"eventTimestamp":1.488476340253E9,"eventType":"TimerFired","timerFiredEventAttributes":{"startedEventId":8,"timerId":"_simpleflow_wake_up_timer"}},{"decisionTaskScheduledEventAttributes":{"startToCloseTimeout":"300","taskList":{"name":"test-simpleflow-workflow-03ff0cc6fd7040d2a446ad23270ddacb"}},"eventId":10,"eventTimestamp":1.488476340253E9,"eventType":"DecisionTaskScheduled"},{"eventId":11,"eventTimestamp":1.488476340307E9,"eventType":"WorkflowExecutionSignaled","workflowExecutionSignaledEventAttributes":{"externalInitiatedEventId":6,"externalWorkflowExecution":{"runId":"22zCvwbdKALrdtW7maAJ5RlqtzPHlzSKrF2GtnEt2ZcPk=","workflowId":"test-simpleflow-workflow"},"input":"{\"__workflow_id\":\"test-simpleflow-workflow\",\"args\":[2],\"__run_id\":\"22zCvwbdKALrdtW7maAJ5RlqtzPHlzSKrF2GtnEt2ZcPk=\",\"kwargs\":{}}","signalName":"signal"}},{"eventId":12,"eventTimestamp":1.488476340316E9,"eventType":"WorkflowExecutionSignaled","workflowExecutionSignaledEventAttributes":{"externalInitiatedEventId":5,"externalWorkflowExecution":{"runId":"22zCvwbdKALrdtW7maAJ5RlqtzPHlzSKrF2GtnEt2ZcPk=","workflowId":"test-simpleflow-workflow"},"input":"{\"__workflow_id\":\"test-simpleflow-workflow\",\"args\":[1],\"__run_id\":\"22zCvwbdKALrdtW7maAJ5RlqtzPHlzSKrF2GtnEt2ZcPk=\",\"kwargs\":{}}","signalName":"signal"}},{"eventId":13,"eventTimestamp":1.488476340329E9,"eventType":"ExternalWorkflowExecutionSignaled","externalWorkflowExecutionSignaledEventAttributes":{"initiatedEventId":6,"workflowExecution":{"runId":"22zCvwbdKALrdtW7maAJ5RlqtzPHlzSKrF2GtnEt2ZcPk=","workflowId":"test-simpleflow-workflow"}}},{"eventId":14,"eventTimestamp":1.488476340337E9,"eventType":"ExternalWorkflowExecutionSignaled","externalWorkflowExecutionSignaledEventAttributes":{"initiatedEventId":5,"workflowExecution":{"runId":"22zCvwbdKALrdtW7maAJ5RlqtzPHlzSKrF2GtnEt2ZcPk=","workflowId":"test-simpleflow-workflow"}}},{"decisionTaskStartedEventAttributes":{"identity":"{\"hostname\":\"zeb-Precision-T3610\",\"pid\":27931,\"user[...]
