[tool.ruff]
line-length = 120

[tool.black]
line-length = 120
target-version = ["py37", "py38", "py39", "py310", "py311"]

[tool.isort]
profile = "black"

[tool.bandit]
exclude_dirs = ["/tests", "/examples", "/venv", "/build"]
skips = ["B404"]
