black; python_implementation == "CPython"
isort; python_implementation == "CPython"
flaky  # py.test plugin for rerunning flaky tests
invoke
moto<3.0.0
packaging
pytest
pytest-xdist
sphinx
sphinx_rtd_theme
sure
typing-extensions
vcrpy
wheel
twine
