.md-icon--home:before {
  content: "code";
}
.md-typeset {
  font-size: 0.75rem;
}
.md-typeset h1 {
  margin-bottom: 1.5rem;
}
.md-typeset h2 {
  margin-top: 1.5rem;
}
.md-main__inner {
  padding-top: 0.5rem;
}
.badges {
  display: none;
}
