# Meta parameters for mkdocs
docs_dir: src/

# Project information
site_name: "Simpleflow documentation"
copyright: "Copyright &copy; 2017‒2018 — Botify"

# Code
repo_name: botify-labs/simpleflow
repo_url: https://github.com/botify-labs/simpleflow
edit_uri: edit/master/docs/src/

# Theme / design
theme: material
extra:
  palette:
    primary: deep-purple
    accent: deep-purple
  feature:
    tabs: false
  social:
    - type: globe
      link: https://www.botify.com/
    - type: github-alt
      link: https://github.com/botify-labs
    - type: twitter
      link: https://twitter.com/botify
extra_css:
  - stylesheets/extra.css

# Extensions
markdown_extensions:
  - markdown.extensions.admonition
  - markdown.extensions.codehilite(guess_lang=false)
  - markdown.extensions.def_list
  - markdown.extensions.footnotes
  - markdown.extensions.meta
  - markdown.extensions.toc(permalink=true)
  - markdown_include.include
  - pymdownx.arithmatex
  - pymdownx.betterem(smart_enable=all)
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.emoji:
      emoji_generator: !!python/name:pymdownx.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tasklist(custom_checkbox=true)
  - pymdownx.tilde

# Pages tree
pages:
  - Intro: index.md
  - Installation: installation.md
  - Architecture:
    - Standalone: architecture/standalone.md
    - Multiprocess: architecture/multiprocess.md
    - Kubernetes: architecture/kubernetes.md
  - Quickstart: quickstart.md
  - Features:
    - Settings: features/settings.md
    - SWF Object Layer: features/swf_layer.md
    - Command Line: features/command_line.md
    - Program Tasks: features/program_tasks.md
    - Jumbo Fields: features/jumbo_fields.md
    - Signals: features/signals.md
    - Error Handling: features/error_handling.md
  - Development: development.md
  - Contributing: contributing.md
  - License: license.md
